@model IEnumerable<FakeBank.Domain.Entities.Accounts.Account>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AccountNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountName)
                </th>
            <th>
                Balance
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>

                <a asp-action="Transact" asp-route-id="@item.Id" asp-route-transactionTypeId="1">Deposit</a> |
                <a asp-action="Transact" asp-route-id="@item.Id" asp-route-transactionTypeId="2">Withdraw</a> |
                <a asp-action="Transfer" asp-route-id="@item.Id">Transfer</a> |
                <a asp-action="Transaction" asp-route-id="@item.Id">Transaction History</a>
            </td>
        </tr>
}
    </tbody>
</table>
